<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.premiumfilters.app" version="1.0.0">
  <name>Premium Filters</name>
  <description>High Quality Filters</description>
  <author href="http://www.operatecnologias.com" email="contacto@operatecnologias.com">Opera Tecnologias</author>
  <content src="index.html"/>
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
  </feature>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="android-targetSdkVersion" value="23" />
  <preference name="android-installLocation" value="auto"/>
  <!--<preference name="SplashScreenDelay" value="5000" />-->
  <!--<gap:plugin name="org.apache.cordova.battery-status"/>
  <gap:plugin name="org.apache.cordova.camera"/>
  <gap:plugin name="org.apache.cordova.media-capture"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.contacts"/>-->
  <!--<gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <gap:plugin name="org.apache.cordova.device-orientation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>-->
  <!--<gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.file-transfer"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.globalization"/>-->
  <plugin name="org.apache.cordova.dialogs" source="npm" />
  <plugin name="org.apache.cordova.inappbrowser" source="npm"/>
  <!--<gap:plugin name="org.apache.cordova.media"/>-->
  <plugin name="org.apache.cordova.network-information" source="npm"/>
  <plugin name="org.apache.cordova.splashscreen" source="npm"/>
  <!--<gap:plugin name="org.apache.cordova.vibration"/>-->

  <splash qualifier="land-hdpi" src="res/drawable-land-hdpi/splash.png" />
  <splash qualifier="land-ldpi" src="res/drawable-land-ldpi/splash.png" />
  <splash qualifier="land-mdpi" src="res/drawable-land-mdpi/splash.png" />
  <splash qualifier="land-xhdpi" src="res/drawable-land-xhdpi/splash.png" />
  <splash qualifier="land-xxhdpi" src="res/drawable-land-xxhdpi/splash.png" />
  <splash qualifier="land-xxxhdpi" src="res/drawable-land-xxxhdpi/splash.png" />
  <splash qualifier="port-hdpi" src="res/drawable-port-hdpi/splash.png" />
  <splash qualifier="port-ldpi" src="res/drawable-port-ldpi/splash.png" />
  <splash qualifier="port-mdpi" src="res/drawable-port-mdpi/splash.png" />
  <splash qualifier="port-xhdpi" src="res/drawable-port-xhdpi/splash.png" />
  <splash qualifier="port-xxhdpi" src="res/drawable-port-xxhdpi/splash.png" />
  <splash qualifier="port-xxxhdpi" src="res/drawable-port-xxxhdpi/splash.png" />
  <icon qualifier="hdpi" src="res/drawable-hdpi/icon.png" />
  <icon qualifier="ldpi" src="res/drawable-ldpi/icon.png" />
  <icon qualifier="mdpi" src="res/drawable-mdpi/icon.png" />
  <icon qualifier="xhdpi" src="res/drawable-xhdpi/icon.png" />
  <icon qualifier="xxhdpi" src="res/drawable-xxhdpi/icon.png" />
  <icon qualifier="xxxhdpi" src="res/drawable-xxxhdpi/icon.png" />

  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>

  <platform name="android">
      <allow-intent href="market:*" />
      <preference name="SplashScreen" value="splash" />
      <preference name="SplashScreenDelay" value="3000" />
      <preference name="ShowSplashScreenSpinner" value="false" />
      <preference name="FadeSplashScreen" value="false" />
      <preference name="SplashMaintainAspectRatio" value="true" />
      <preference name="SplashShowOnlyFirstTime" value="false" />
      <preference name="SplashShowOnlyFirstTime" value="false" />
      <splash qualifier="land-hdpi" src="res/drawable-land-hdpi/splash.png" />
      <splash qualifier="land-ldpi" src="res/drawable-land-ldpi/splash.png" />
      <splash qualifier="land-mdpi" src="res/drawable-land-mdpi/splash.png" />
      <splash qualifier="land-xhdpi" src="res/drawable-land-xhdpi/splash.png" />
      <splash qualifier="land-xxhdpi" src="res/drawable-land-xxhdpi/splash.png" />
      <splash qualifier="land-xxxhdpi" src="res/drawable-land-xxxhdpi/splash.png" />
      <splash qualifier="port-hdpi" src="res/drawable-port-hdpi/splash.png" />
      <splash qualifier="port-ldpi" src="res/drawable-port-ldpi/splash.png" />
      <splash qualifier="port-mdpi" src="res/drawable-port-mdpi/splash.png" />
      <splash qualifier="port-xhdpi" src="res/drawable-port-xhdpi/splash.png" />
      <splash qualifier="port-xxhdpi" src="res/drawable-port-xxhdpi/splash.png" />
      <splash qualifier="port-xxxhdpi" src="res/drawable-port-xxxhdpi/splash.png" />
      <icon qualifier="hdpi" src="res/drawable-hdpi/icon.png" />
      <icon qualifier="ldpi" src="res/drawable-ldpi/icon.png" />
      <icon qualifier="mdpi" src="res/drawable-mdpi/icon.png" />
      <icon qualifier="xhdpi" src="res/drawable-xhdpi/icon.png" />
      <icon qualifier="xxhdpi" src="res/drawable-xxhdpi/icon.png" />
      <icon qualifier="xxxhdpi" src="res/drawable-xxxhdpi/icon.png" />
  </platform>

<platform name="ios">
      <preference name="SplashScreen" value="splash" />
      <preference name="SplashScreenDelay" value="3000" />
      <preference name="ShowSplashScreenSpinner" value="false" />
      <preference name="FadeSplashScreen" value="false" />
      <preference name="SplashMaintainAspectRatio" value="true" />
      <preference name="SplashShowOnlyFirstTime" value="false" />
      <preference name="SplashShowOnlyFirstTime" value="false" />  
      <!-- images are determined by width and height. The following are supported -->
      <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
      <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
      <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
      <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
      <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
      <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
      <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
      <!--<splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>-->
      <!--<splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>-->
      <!--<splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>-->
      <!-- iPhone / iPod Touch -->
      <icon src="res/ios/icon.png" width="57" height="57" />
      <icon src="res/ios/icon@2x.png" width="114" height="114" />
      <!-- iPad -->
      <icon src="res/ios/icon-72.png" width="72" height="72" />
      <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
</platform>

</widget>